.wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  display: flex;
  justify-content: center;
}
.inner {
  display: flex;
  align-items: center;
  height: 100%;
  width: var(--default-layout-width);
  justify-content: space-between;
}
.logo {
}
.search {
  width: 361px;
  height: 46px;
  padding: 0 16px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;

  input {
    color: var(--black);
    font-size: 1.1rem;
    border: none;
    outline: none;
    background-color: transparent;
  }
}
.clear-btn {
}
.loading {
}
.search-btn {
}
